* {
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #ff6347;
}

main {
    width: 80%;
    height: 100vh;
    display: flex;
    padding: 15px;
}

.container {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.container .row {
    width: 100%;
    height: 33%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 7px;
    background-color: rgb(146, 119, 119);
}

.child {
    background-color: rgb(189, 185, 185);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.child-left {
    width: 30%;
}

.child-right {
    width: 70%;
}

.row-2 .child-right {
    width: 30;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .container .row {
        flex-direction: column;
        height: auto;
    }

    .child-left, .child-right {
        width: 100%;
    }

    main {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    .child {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .child-left {
        width: 100%;
    }

    .child-right {
        width: 100%;
    }

    .row {
        height: auto;
    }

    .child h3, .child p {
        font-size: 14px;
    }
}
